.star-rating {
	line-height:32px;
	font-size:1.25em;
}

.centrar_div{
  float: none; 
  margin: 0 auto;  
}

.loader_div{
   
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #e7e7e7;
    opacity: 0.5;
    z-index: 1101;
}

.star-rating .fa-star{color: yellow;}

.evalua {
	width: 200px;
}

.loader {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 1102;
    width: 190px;
    height: 150px;
    font-size: 30px;
    font-family: monospace;
    color: #d9964f;
    margin: -75px 0 0 -100px
}

.paginador_none{
	width: 100%; visibility: hidden; display: none;
}

.paginador{
	width: 100%;
}

.bunus{
  white-space: normal !important;
  width: 200px !important;
  min-height: 52px;
}

.asteris{
    color: #d00;
    content: "*";
    margin-left: 8px;
    top:3px;
}

.star-rating .fa-star {
    color: f6a42f !important;
}

.btn-warning {
    /*color: #212529;*/
    background-color: f6a42f !important;
    /*border-color: #ffc107;*/
}


.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:3px;
}

ul.ui-autocomplete {
    z-index: 1100;
}
.div_img_home{
    background-image: url(../img/5-fists-1920x1080.jpg);
    background-position: top center;
    background-size: auto;
    z-index: -1;
    overflow: hidden;
    /*margin-top: -100px;
    padding-top: 180px;*/
    /*width: 100%;
    height: 140%;
    position: relative;*/
    transition: padding 500ms linear;
    
    position: absolute;
    width: 100%;
    left: 0;
    height: 600px;
    /*top:100px;*/
}

.div_sloga{
      margin-right: 15px;
  background: white;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    height: 24px;
    background-color: White;
    width: auto;
    font-size: 25px;
    height: auto;
    font-style: oblique;
    opacity: 0.8;
    margin-left: 50px;
    padding: 5px;
}

html {
  height: 100%;
}
.video{
      padding-left: 3rem!important;
      padding-right: 3rem!important;
}
@media only screen and (max-width: 600px) {
    .video{
          padding-left: 0rem!important;
          padding-right: 0rem!important;
    }
}



.footer {
   height: 100px;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;   
   position: absolute;
}
body {
    font-family: 'Source Sans Pro', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #f1f1f173!important;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    min-height: 100%;
}