@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #707070
}

.single-body{
  background-color: #f6f6f6
}

a{
  color: inherit;
}

a:hover{
  color:inherit;
  text-decoration: none
}

p{
  margin: 0;
  color: #777777
}

input:focus,
select:focus,
textarea:focus,
button:focus,
option:focus {
    outline: none;
}

.hero-flex{
  display: flex;
}

.hero-flex-center{
  display: flex;
  justify-content: center;
}




/*****************************NAVBAR**********************************/

.btn-vida{
  border-radius: 5px;
  padding: 7px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: all .2s ease-in-out;
}

.btn-vida:hover{
  color: #fff;
}

.btn-vida-primary{
  background-color: #ffa041;
}

.btn-vida-primary:hover{
  background-color: #fd9731;
  -webkit-box-shadow: -2px 10px 15px -9px rgba(0,0,0,0.24);
-moz-box-shadow: -2px 10px 15px -9px rgba(0,0,0,0.24);
box-shadow: -2px 10px 15px -9px rgba(0,0,0,0.24);
}





/****************************END NAVBAR*******************************/











/*****************************NAVBAR**********************************/

.hero-navbar{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

/* this is navbar of single page */

.hero-navbar.single{
  background-color: #283e4a;
  position: static;
}



/* end navbar of single page */

  .hero-navbar .hamburger{
    display: none;
  }


.hero-navbar .hero-navbar-box{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-navbar .hero-navbar-box-one{
  width: 20%
}

.hero-navbar .hero-navbar-box-two{
  width: 25%;
  transition: ease-in-out .2s all
}

.hero-navbar .hnbo-box{
  width: 50%;
  margin: 10px auto;
}

.hero-navbar .hnbt-box{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-right: 40px

}

.hero-navbar .hnbt-box-one{
  margin: 0 30px
}

.hero-navbar .hnbt-box-one i{
  font-size: 7px;
  margin: 2px;
  color: #fff;
  transition: .2 all ease-in-out;
}

.hero-navbar .hnbt-box-one i:hover{
  color: #ffa041
}

/*************************END NAVBAR**********************************/

/************************* MAIN CONTENT **********************************/


.main-container{
  height: 100vh;
  width: 100%;
  background-image: url('../img/3.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;


}

.main-container .hero-search{
  width: 80%;
  margin: auto;
}

.main-container .hsb-one{
  width: 70%;
  margin: auto;
}

.main-container .hsb-one h1{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 65px;
    transition: .2s all ease-in-out
}

.main-container .hsb-three h3{
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}

.main-container .hsb-three .hsb-three-box{
  width: 90%;
  margin: auto;
}


/*************************END MAIN CONTENT**********************************/




/*************************SEARCH BAR**********************************/

/* style for search bar in single page */
.hero-navbar-box-search{
  width: 45%
}

.hero-navbar-box-search .box-sticky-one input,
.hero-navbar-box-search .box-sticky-two,
.hero-navbar-box-search .box-sticky-three button{
  height: 45px;
}

.hero-navbar-box-search .box-sticky-two select{
  height: 35px
}

.hero-navbar-box-search .box-sticky-two i{
  right: 18%;
  top: 13px
}
/* end style for search bar in single page */
.hsb-two-box{
  width: 70%;
  margin: 30px auto;
}

.box-sticky-one{
  width: 55%
}

.box-sticky-two{
  width: 25%
}

.box-sticky-three{
  width: 20%
}

.box-sticky-one input{
  height: 65px;
  padding: 10px 35px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}

.box-sticky-one input::placeholder{
  font-weight: bold;
  color: #c3c3c3
}

.box-sticky-two{
  height: 65px;
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;

}

.box-sticky-two select{
  height: 45px;
  border: none;
  border-left: solid 1px #eaeaea;
  padding-left: 30px;
  font-weight: bold;
  color: #737272;
  -moz-appearance:none; /* Firefox */
   -webkit-appearance:none; /* Safari and Chrome */
   appearance:none;

}

.box-sticky-two i{
  position: absolute;
  right: 30%;
  font-size: 20px;
  color: #737272;
}

.box-sticky-three button{
  height: 65px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;


}

.box-sticky-one input,
.box-sticky-two select,
.box-sticky-three button{
  width: 100%;

}


.hsb-two-box-sticky{
  display: flex;
  justify-content: center;
}





/*************************END SEARCH BAR**********************************/

/****************************FOOTER MAIN**********************************/

.footer-main{
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 100%;
}

.footer-main .footer-main-box{
  display: flex;
  flex-direction: column;

}

.footer-main .footer-box .footer-box-one{
  display: flex;
  justify-content: center;
}


.footer-main .footer-box .footer-box-one .fbo-icon{
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFA041;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-main .footer-box .footer-box-one .fbo-icon a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main .footer-box .footer-box-one .fbo-icon i{
  color: #fff;
  font-size: 20px
}

.footer-main .footer-box .footer-box-two {
  text-align: center;
}

.footer-main .footer-box .footer-box-two span{
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 14px
}

.footer-main .span-mobile{
  display: none
}

/*************************END FOOTER MAIN**********************************/


/* *************************SINGLE PAGE************************* */
.line-hero{
  border-radius: 5px;
  border: solid 1px rgba(90, 90, 90, 0.7);
}

.stars-hero{
  font-size: 22px;
  color: #ffa041;
  margin: 0 5px
}

.stars-hero-s{
  font-size: 15px;
  color: #ffa041;
  margin: 0 2px
}



.flex{
  display: flex
}


.column{
  flex-direction: column
}

.hero-breadcrumb{
  padding: 15px 0
}

.content-single-area{
  /* max-width: 1200px; */
  width: 95%;
  margin: 0 auto;
  position: relative;
  background-color: #f6f6f6;
  display: flex;
}


.content-profile-hero{

  min-height: 350px;
  padding: 30px 15px 20px 15px;
  background-color: #fff;
  height: 100%
}

.content-profile-hero .profile-img-box{
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex
}

.content-profile-hero .profile-img-box .profile-img-box-img{
  width: 100%;
  height: auto;
  max-width: 100%;
  /* object-fit: none */
}

.content-profile-hero .profile-content-box{
  padding: 20px 0;

}

.content-profile-hero .profile-content-box h1{
  color: #585858;
  font-weight: 600;
  font-size: 35px;
  margin: 0
}

.content-profile-hero .profile-content-three span,
.content-profile-hero .profile-content-three p{
  font-size: 22px;
  font-weight: 700;
  color: #ffa041;
}

.content-profile-hero .profile-content-four{
  padding-top: 15px
}

.content-profile-hero .profile-content-four .profile-list-details{
  list-style: none;
  padding: 0;
}

.content-profile-hero .profile-content-five .profile-content-five-title{

}

.group-profile-accordion-header .btn-link{
  color: #777777
}

.group-profile-accordion-header .btn-link:hover{
  text-decoration: none
}

.group-profile-accordion-header ul{
  list-style: none
}


/* ============================================= */

.content-area-hero{
  width: 75%;
  padding: 0 20px

}

.content-area-hero-box{
  display: flex;
  flex-direction: column;

}

.content-area-hero-box .content-area-one{
  width: 100%;

}

.content-area-hero-box .content-area-one .content-area-one-box{
  height: 400px;
  overflow: hidden;
}

.content-area-hero-box .content-area-one img{
  width: 100%;
  max-width: 100%;
}

.content-area-hero-box .content-area-two-box{
  display: flex;
  padding: 15px 0
}

.content-area-hero-box .item-tag{
  color: #fff;
  font-weight: bold;
  background-color: #c3c3c3;
  border-radius: 5px;
  padding: 10px 15px;
  margin:  0 10px 0 0
}

.content-area-three-box{
  display: flex;
}

.content-area-three-box-one
{
  background-color: #fff;
  padding: 30px 35px;
  text-align: center;
  width: 50%;
}

.content-area-three-box-one{
  margin-right: 15px
}

.hero-average-box{
  flex-direction: column;
}

.hero-average-box h4{
  margin-bottom: 5px
}

.hero-average-box .number-average{
  font-size: 85px;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 85px
}

.hero-average-box .sector-average{
  font-size: 40px;
  line-height: 40px
}

.hero-average-box .rating-indicator{
  margin-top: 20px;
  margin-bottom: 30px
}

.rating-stars-one{
  padding: 5px 0
}


.content-area-three-box-two{
  background-color: #fff;
  padding: 60px 35px 30px 35px;
  text-align: center;
  width: 50%;
}

.item-bar{
  display: flex;
  align-items: center;
  margin-bottom: 5px
}

.item-bar .progress{
  width: 90%;
  margin: auto;
  height: 5px
}

.item-bar-star{
  width: 10%;
  display: flex;
  align-items: center;

}

.item-bar-star .one-span{
  margin: 0 2px

}

.item-bar-bar{
  width: 80%
}

.item-bar-per{
  width: 10%
}

.bg-green{
  background-color: #3fa669
}
.bg-green-light{
  background-color: #8ec63f
}
.bg-yellow{
  background-color: #f1e210
}
.bg-orange{
  background-color: #ffa041
}
.bg-red{
  background-color: #f05f00
}

.percentage-rating{
  margin-bottom: 50px
}

.percentage-rating h4{
    font-size: 65px;
    font-weight: bold;
    line-height: 65px;
    margin: 0;
}

.percentage-rating p{
    font-weight: bold;
}

.percentage-rating-bar .title-bar{
  text-align: left;
}

.percentage-rating-bar .title-bar h5{
  font-size: 16px;
  font-weight: bold
}

.content-area-four{
  margin-top: 15px;

}

.content-area-four .content-area-four-box{
  padding: 20px 50px;
  background-color: #fff
}

.content-area-four .content-area-four-box .icons-commun{
  display: flex;
}

.content-area-four .content-area-four-box h4{
  font-weight: bold;
  margin-bottom: 15px
}

.icon-commun-box{
  height: 45px;
  width: 45px;
  border-radius: 8px;
  background-color: #ffb76f;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-area-four .icon-commun-box img{
  width: 20px;
}

.content-area-five{
  margin-top: 40px
}



.content-area-five-box .content-five-box-one{
  display: flex
}

.content-area-five-box button.empleados{
  color: #fff;
  background-color: #bcbcbc;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;

}

.content-area-five-box button.empleados.active{
  background-color: #ffa041;

}

.content-area-five-box  .panel-ambiente{
  background-color: #fff;
  padding: 20px 40px 40px 40px
}

.panel-ambiente-box

.content-area-five-box  .panel-ambiente .laboral-item{
  display: flex;
}

.ambiente-box-one{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: baseline
}



.ambiente-box-one .box-one-one,
.ambiente-box-one .box-one-two,
.ambiente-box-two .box-two-one{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px
}


.ambiente-box-one .box-one-one:nth-child(1),
.ambiente-box-one .box-one-one:nth-child(3){
  width: 55%;
  padding-right: 40px;
}

.ambiente-box-one .box-one-one:nth-child(2),
.ambiente-box-one .box-one-one:nth-child(4){
  width: 45%;
}




.ambiente-box-one .box-two-one .laboral-item{
  display: flex;
  align-items: center;
  margin-bottom: 5px
}

.ambiente-box-one .box-one-one .content .laboral-item,
.ambiente-box-one .box-one-two .content .laboral-item,
.ambiente-box-two .box-two-one .content .laboral-item{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.laboral-item .name-item{
  width: 60%;
  font-size: 14px
}

.laboral-item .stars-item{
  width: 35%
}

.laboral-item .number-item{
  width: 5%;
  font-weight: bold;
  font-size: 12px
}

.ambiente-box-two .laboral-item .name-item{
  width: 50%;
  font-size: 14px
}

.ambiente-box-two .laboral-item .stars-item{
  width: 40%
}

.ambiente-box-two .laboral-item .number-item{
  width: 10%;
  font-weight: bold;
  font-size: 12px
}


.ambiente-box-two{
  width: 45%;
  flex-direction: column;

}

.box-two-two{
  padding: 50px 40px 30px 40px;
  text-align: center;
  width: 45%
}

.box-two-two h4{
  font-size: 15px;
  font-weight: bold;

}

.box-two-two div span{
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 65px;
}

.box-two-two .rating{
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
  margin-top: 15px
}

.box-two-two .result-rating{
  font-size: 11px
}

.box-two-two .result-rating p{
  margin-top: 10px
}


.box-two-two .percentage{
  margin-top: 40px;

}

.box-two-two .percentage span{
    line-height: 55px;
    font-size: 55px
}

#participants{
  display: none;
}

#employees{

}

.content-area-six{
  margin-top: 40px
}

.content-area-six-box button.empleados.active{
  background-color: #ffa041;

}

.content-area-six-box .content-six-box-one{
  display: flex
}

.content-area-six-box  .panel-ambiente{
  background-color: #fff;
  padding: 40px 50px;
  position: relative;
}

.panel-ambiente-box

.content-area-six-box  .panel-ambiente .laboral-item{
  display: flex;
}

.content-area-six-box button.empleados{
  color: #fff;
  background-color: #bcbcbc;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;

}

.content-six-box-two .panel-ambiente-box{
  flex-direction: column;

}

.content-six-box-two .main-title{
  width: 100%;
}

.content-six-box-two .main-title .legend{
  position: absolute;
  top: 20px;
  right: 20px;
}

.content-six-box-two .main-title .legend strong{
  font-size: 11px
}

.legend .AAA{
  font-weight: bold;
  color: #ffa041;
  margin-left: 4px
}

.content-area-six-box .main-content-box{
  display: flex
}

.content-area-six-box .main-content-box-one,
.content-area-six-box .main-content-box-two{
  display: flex;
  flex-direction: column;
}

.content-six-box-two ul{
  list-style: none
}

.content-six-box-two ul li{
  font-size: 14px;
  color: #dadada;
  margin-bottom: 5px
}

.content-six-box-two ul li.orange-title{
  font-weight: bold;
  color: #ffa041
}

.main-content-box-one-one,
.main-content-box-two-one{
  min-height: 220px
}


.content-area-seven{
  margin-top: 20px
}

.content-area-seven .content-area-seven-box{
  padding: 30px 30px;
  background-color: #fff;
}

.content-area-seven .title{
  margin-bottom: 20px
}

.content-area-seven .textarea-seven{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  min-height: 220px;
  overflow-y: auto;
}

.content-area-eight{
  margin-top: 20px;
  margin-bottom: 40px
}


.content-area-eight .content-area-eight-hero{
  background-color: #fff;
  padding: 30px;
}

.content-area-nine .card{
  background-color: #a3a3a3;
  transition: all .1s ease-in-out;
  margin-bottom: 30px
}
.content-area-nine .card-header{
  background-color: #a3a3a3;
  color: #fff;
  transition: background-color .1s ease-in-out
}

.content-area-nine .card-header p{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  transition: background-color .4s ease-in-out
}

.content-area-nine .button-more{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #fff;
  color: #a3a3a3;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content-area-nine .button-more{
  text-decoration: none
}

.content-area-nine .button-more:hover{
  text-decoration: none
}

.content-area-nine .button-more i{
  font-size: 10px
}

.card-header-box .card-header-box-one .rating{
  display: flex;
  align-items: center;
}

.card-header-box .card-header-box-one{
  width: 100%;
  border-bottom: solid 1px #fff;
  padding-bottom: 10px
}

.card-header-box .card-header-box-one div{
  display: inline-block;
}

.card-header-box .card-header-box-one .number{
  margin: 0 10px
}

.card-header-box .card-header-box-one .box-four{
  float: right;
}

.card-header-box .card-header-box-two{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.card-header-box .card-header-box-two .card-header-excerpt{
  margin-left: 20px
}

.content-area-nine .title.og{
  margin-bottom: 20px
}

.content-area-nine .card{
  border: solid 1px transparent;

}

.content-area-nine .showing{
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px rgba(90, 90, 90, 0.7);
  padding-top: 20px;
  border-bttom: none;
  padding-bottom: 30px

}

.content-area-nine .showing .card-header{
  background-color: #fff;
  border-bottom: none
}

.content-area-nine .showing p{
  color: #707070;

}

.content-area-nine .showing .button-more{
  background-color: #707070
}

.content-area-nine .showing .button-more i{
  color: #fff;
}

.content-area-nine .box-one{
  display: flex;
}

.content-area-nine .box-one .box-one-one{
  width: 50%;
  padding-right: 20px
}

.content-area-nine .box-one .item-ambiente{
  display: flex;
  align-items: center;
  margin-bottom: 10px
}

.content-area-nine .item-ambiente .title{
  width: 60%;
}

.content-area-nine .item-ambiente .stars{
  width: 30%;
  display: flex;
  justify-content: space-between;

}

.content-area-nine .item-ambiente .number{
  width: 10%;

}

.content-area-nine .item-ambiente .number p{
  font-weight: bold;
  font-size: 15px;
  text-align: center

}

.input-group{
  margin-bottom: 40px
}

.input-group span{
  font-weight: bold;
}

.input-group input[type="text"]{
  border: none;
  border-bottom: 1px solid #ffa041;
  background-color: transparent;
  color: #707070;
  width: 100%;
  height: 40px;
}

.input-group input[type="text"]::placeholder{
  color: #d6d2d2
}

.box-three-box div{
  display: inline-block;
  width: 48%;

}

.box-three-box .pros,
.box-three-box .contra{
  padding: 20px 20px 20px 0;

}

.box-three-box .pros span{
  color: #8ec879;
  font-weight: bold;
  margin-left: 25px;
  display: block;
  margin-bottom: 10px

}

.box-three-box .contra span{
  color: #ff0045;
  font-weight: bold;
  margin-left: 25px;
  display: block;
  margin-bottom: 10px

}

.box-three-box textarea{
  border-radius: 5px;
  border: solid 1px rgba(90, 90, 90, 0.7);
  max-height: 100px;
  overflow-y: auto;
  width: 100%
}

.box-four-box .icons-commun{
  display: flex;
  justify-content: center
}

.box-four-box .icon-commun-box{
  height: 45px;
  width: 45px;
  border-radius: 8px;
  background-color: #ffb76f;
  margin: 0 10px
}

.box-four-box .box-icons{
  margin-top: 30px
}

.box-four-box .box-result{
  margin-top: 40px;
}

.box-four-box .box-result p{
  color: #8ec63f!important;
  font-weight: bold;
  text-align: center

}

.box-four-box .box-options{
  text-align: center;
  margin-top: 35px
}

.box-four-box .pane-options{
  display: flex;
  align-items: center;
  justify-content: center
}



.box-four-box .pane-options .option-yes{
  border:none;
  background-color: #c5c5c5;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  height: 30px;
  width: 35px;
  color: #fff;
  font-weight: bold;
  border-right: solid 1px #fff;
  cursor-pointer

}

.box-four-box .pane-options .option-no{
  border:none;
  background-color: #c5c5c5;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 30px;
  width: 35px;
  color: #fff;
  font-weight: bold;
  cursor-pointer

}

.box-four-box .si-or-no{
  margin: 0 10px
}

.box-four-box .result-yes,
.box-four-box .result-no{
  font-size: 15px;
  font-weight: bold;
}


/* ===============================FOOTER SINGLE============================ */
footer.footer{
  background-color: #283e4a;
  color: #fff;
  width: 100%;
  text-align: center;

}

.footer .footer-one{
  padding: 40px 0 30px 0
}

.footer .footer-two{
  padding: 30px 0;
  border-top: solid 1px #fff
}


.footer .icon-box{
  width: 250px;
  margin: auto
}

.footer .footer-content{
  width: 70%;
  margin: auto;

}

.footer .footer-content p{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.footer .footer-two-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.footer .footer-two-box .box-two{
  display: flex;
  align-items: center;

}

.footer .footer-two-box .box-one{
  width: 30%;
  text-align: left;
}

.footer .footer-two-box .box-one p{
  color: #fff;
  font-weight: bold
}

.footer .footer-two-box .network{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa041;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***********************owl-carousel-custom-css*********************** */


.content-area-eight .owl-carousel{
  position: relative;
}

.content-area-eight .owl-carousel .owl-nav{
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  margin: auto;
}

.content-area-eight .owl-carousel .owl-nav .owl-next{
  float: right;
}

.content-area-eight .owl-carousel .owl-nav span{
  font-size: 40px
}

.datos-practicantes{
  display: none
}

.panel-ambiente-box-practicante{
  display: none;
}

.sidebar{
  will-change: min-height;
  width: 25%;
}

.content-profile-hero{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

/* ***********************END SINGLE PAGE*********************** */


/*************************END MEDIA QUERIES DESKTOP**********************************/
@media (max-width: 1200px){
  .box-sticky-two i{
    right: 20%
  }
}

@media (max-width: 1190px){
  .main-container .hsb-one h1{
    font-size: 60px
  }

  .hero-navbar .hero-navbar-box-two{
    width: 30%
  }
}

@media (max-width: 1100px){
  .main-container .hsb-one{
    width: 80%
  }
}


@media (max-width: 1050px){
  .main-container .hsb-one h1{
    font-size: 50px
  }

  .box-sticky-two i{
    right: 15%
  }
}

@media (max-width: 1000px){
  .main-container .hero-search{
    width: 90%;
  }
}

@media (max-width: 960px){
  .hero-navbar .hero-navbar-box-two{
    width: 35%
  }
}

@media (max-width: 900px){
  .main-container .hero-search{
    width: 100%
  }

  .hero-navbar .hero-navbar-box-one{
    width: 30%
  }
}

@media (max-width: 840px){
  .main-container .hsb-three h3{
    font-size: 16px
  }

  .hero-navbar .hero-navbar-box-two{
    width: 40%
  }
}

@media (max-width: 820px){
  .hsb-two-box{
    width: 80%
  }
}
