Correo que reciben las personas a su correo electrónico:

“! Gracias por tu aporte para un mercado laboral más transparente!

Dale clic en el botón abajo para confirmar tu correo electrónico.

Tu datos para ingresar a tu cuenta en ocupasion.com son:
Usuario: xxxxxxx@gmail.com 
Contraseña: xxxxxxx

Así podrás editar y eliminar tus evaluaciones en cualquier momento y mantienes siempre el control! 

Te prometemos un 100% de anonimato y un manejo confiable de tus datos en todo momento. 

4,3 (el promedio de la evaluación) - pero este cálculo no es necesario para el prototipo.

Y luego el botón con:

Confirmar: www.confirmarblalablabla.com 

Muchas Gracias,
Tu equipo de Ocupasión

Tu no publicaste una evaluación en ocupasion.com?

Por favor, responda a este correo electrónico con el asunto: No creé esta evaluación”